configuration {
    font: "Inter 12";
    display-calc: "Calc:";
}

@theme "/dev/null"
@import "colors.rasi"

* {
    background-color: transparent;
    text-color: inherit;
}

window {
    background-color: @clr-bg;
    text-color: @clr-text;
    border: 1;
    border-color: @clr-border;
    width: 768;
}
